html, body, section, .ui-page, .ui-content, .ui-panel-wrapper{
	background: #dde5ee !important;
}

.ui-header{
	background: -webkit-linear-gradient(#4491ca, #005a9c 100%);
	background: -o-linear-gradient(#4491ca, #005a9c 100%);
	background: linear-gradient(#4491ca, #005a9c 100%);
}

.ui-header .ui-title{
	color: #ffffff;
	text-shadow: 1px 1px 1px #004e8b;
}

.ui-header, .ui-footer{
	border-width: 0px;
}

html .ui-bar-a .ui-btn {
	color: #ffffff !important;
	text-shadow: 1px 1px 1px #004e8b !important;
	border-color: #353535 !important;
	background: -webkit-linear-gradient(#575757, #353535);
	background: -o-linear-gradient(#575757, #353535);
	background: linear-gradient(#575757, #353535);
}
html .ui-bar-a .ui-btn:hover, html .ui-bar-a .ui-btn.ui-btn-active{
	color: #ffffff;
	text-shadow: 1px 1px 1px #004e8b;
	border-color: #a0131f !important;
	background: -webkit-linear-gradient(#a0131f, #ef3343);
	background: -o-linear-gradient(#a0131f, #ef3343);
	background: linear-gradient(#a0131f, #ef3343);
}

html .ui-header .ui-btn{
	color: #ffffff !important;
	text-shadow: 1px 1px 1px #004e8b !important;
	border-color: #013f73 !important;
	background: -webkit-linear-gradient(#005a9c, #013f73);
	background: -o-linear-gradient(#005a9c, #013f73);
	background: linear-gradient(#005a9c, #013f73);
}

html .ui-header .ui-btn:hover, html .ui-header .ui-btn.ui-btn-active{
	color: #ffffff !important;
	text-shadow: 1px 1px 1px #004e8b !important;
	border-color: #013f73 !important;
	background: -webkit-linear-gradient(#013f73, #005a9c);
	background: -o-linear-gradient(#013f73, #005a9c);
	background: linear-gradient(#013f73, #005a9c);
}